<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
  <head>

      <meta charset="UTF-8">
    <title>My JSP 'index.jsp' starting page</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link href="dist/css/bootstrap.css" rel="stylesheet">
	<!--
	<link rel="stylesheet" type="text/css" href="styles.css">
	-->
  </head>
  <body class=" bg-info">
<div class="container">
  <div class="col-md-offset-5 col-md-10">"
      <h3>你还未有活动参与</h3>
  </div>
  </div>
  </body>
</html>
