<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>


    <title>组团系统</title>
    <meta charset="UTF-8">
    <!--
    <link rel="stylesheet" type="text/css" href="styles.css">
    -->

    <link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="easyui/demo/demo.css">
    <link href="dist/css/bootstrap.css" rel="stylesheet">

    <style>
        ul{
            line-height:30px;
        }
        #LoginDiv{
            font-family:宋体;
            font-weight:bolder;
            font-size:30px;
        }
    </style>
</head>

<body class="easyui-layout ">

<!-- 顶部 -->
<div data-options="region:'north',split:true" style="height:80px;">

    <!-- 登陆用户信息 -->
    <div id="LoginDiv" style="position:center;right:20px;top: 20px;color:#0099FF;">
        <center>拼团系统</center>
    </div>
</div>
<!-- 底部 -->
<div data-options="region:'south',split:true" style="height:30px;">
    <div id="copyrightDiv" style="text-align:center">
    </div>

</div>
<!-- 左边系统菜单 -->
<div data-options="region:'west',title:'系统菜单',split:true" style="width:200px;">

    <div id="aa" class="easyui-accordion" style="width:193px;">
        <div title="结算账单" data-options="iconCls:'icon-sum'" style="overflow:auto;padding:10px;">
            <ul>
                <li><a th:href="@{/ExportExcel}" class="easyui-linkbutton" iconCls="icon-print">导出账单</a></li>
            </ul>
        </div>

        <div title="菜单选项" data-options="iconCls:'icon-more',selected:true" style="padding:10px;">

            <ul>
                <li><a href="javascript:void(0)" pageUrl="/Add_Activity" class="easyui-linkbutton" iconCls="icon-add">创建团队活动</a></li>
                <li><a href="javascript:void(0)" pageUrl="/find_ActivityM" class="easyui-linkbutton" iconCls="icon-add">发起的活动</a></li>
                <li><a href="javascript:void(0)" pageUrl="/find_activityJ" class="easyui-linkbutton" iconCls="icon-add">参与的活动</a></li>
                <li><a href="javascript:void(0)" pageUrl="/findAllActivity" class="easyui-linkbutton" iconCls="icon-search">查询所有活动</a></li>
                <li><a href="javascript:void(0)" pageUrl="/Search_Activity" class="easyui-linkbutton" iconCls="icon-search">查询活动</a></li>
              <!--  <li><a href="javascript:void(0)" pageUrl="/ExportExcel" class="easyui-linkbutton" iconCls="icon-search">查询团员花费</a></li>-->
            </ul>

        </div>
        <div title="退出系统" data-options="iconCls:'icon-cancel',selected:true" style="padding:10px;">
            <ul>
                <li><a th:href="@{/exit}" class="easyui-linkbutton" iconCls="icon-cancel" >退出系统</a></li>

            </ul>
        </div>
    </div>


</div>
<!-- 中间编辑区域 -->
<div data-options="region:'center'" style="padding:5px;background:#eee;">

    <div id="tt" class="easyui-tabs" style="width:500px;height:250px;" data-options="fit:true" >
            <iframe th:replace="start.html"></iframe>
    </div>
    </form>
</div>
<script type="text/javascript" src="easyui/jquery.min.js"></script>
<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" th:inline="javascript">
        $(function(){
            $("a[pageUrl]").click(function(){
                var pageUrl= $(this).attr("pageUrl");
                var title = $(this).text();
                if($("#tt").tabs("exists",title)) {
                    $("#tt").tabs("select",title);
                }else{

                    $("#tt").tabs("add",{
                        title:title,
                        content:"<iframe src='"+pageUrl+"' width='100%' height='100%' frameborder='0'></iframe>",
                        closable:true
                    });
                }
            });
        });

</script>
</body>

</html>
